[submodule "gatsby_fotosmil"]
	path = gatsby_fotosmil
	url = git@github.com:kodesmil/gatsby_fotosmil
[submodule "gatsby_motim"]
	path = gatsby_motim
	url = git@github.com:kodesmil/gatsby_motim
[submodule "gatsby_abli"]
	path = gatsby_abli
	url = git@github.com:kodesmil/gatsby_abli
[submodule "kutter"]
	path = kutter
	url = git@github.com:kodesmil/kutter
[submodule "plant"]
	path = plant
	url = git@github.com:kodesmil/plant
