flask
python-dotenv
python-jose
flask-cors
six
marshmallow
#flask_monitoringdashboard
apispec
flask_apispec
Flask-PyMongo
requests
pymongo[srv]
dnspython
httplib2
google-api-python-client==1.7.11
oauth2client
python-dateutil
ptvsd
kodesmil_common==0.0.14